header{
    background-color: var(--base-color);
    font-size: 12px;
    color: black;
    height: 120px;
    }

header h1 p { 
    font-family: 'Montserrat', sans-serif;

    }
header p {
    text-align: center;
    font-size: 20px;
}
header h1 {
    font-size: 30px;
    text-align: left;
}

nav ul li a {

    text-align: right;
}